* {
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  width: 200px;
}
.countryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.countryElement {
  width: 220px;
  margin: 10px;
  background-color: lightgray;
  padding-top: 10px;
  text-align: center;
}

.hiddenClass {
  display: none;
}